In [1]:
## Creating a tuple

empty_tuple = ()
print(empty_tuple)
print(type(tuple))

()
<class 'type'>

In [2]:
lst = list()
print(type(lst))
tpl = tuple()
print(type(tpl))

<class 'list'>
<class 'tuple'>

In [9]:
numbers = tuple([1,2,3,4,5,6])
numbers

(1, 2, 3, 4, 5, 6)

In [10]:
list((1,2,3,4,5,6))

[1, 2, 3, 4, 5, 6]

In [11]:
mixed_tuple = (1, "Hello World", 3.14 , True)
print(mixed_tuple)

(1, 'Hello World', 3.14, True)

In [12]:
## accessing tuple elements

numbers

(1, 2, 3, 4, 5, 6)

In [13]:
numbers[2]

3

In [14]:
print(numbers[2])
print(numbers[-1])

3
6

In [15]:
numbers[0:4]

(1, 2, 3, 4)

In [16]:
numbers[::]

(1, 2, 3, 4, 5, 6)

In [17]:
numbers[::-1]

(6, 5, 4, 3, 2, 1)

In [18]:
## Tuples Operation

numbers

(1, 2, 3, 4, 5, 6)

In [19]:
mixed_tuple

(1, 'Hello World', 3.14, True)

In [20]:
numbers + mixed_tuple

(1, 2, 3, 4, 5, 6, 1, 'Hello World', 3.14, True)

In [21]:
concatenation_tuple = numbers + mixed_tuple

In [22]:
print(concatenation_tuple)

(1, 2, 3, 4, 5, 6, 1, 'Hello World', 3.14, True)

In [23]:
mixed_tuple * 3

(1,
 'Hello World',
 3.14,
 True,
 1,
 'Hello World',
 3.14,
 True,
 1,
 'Hello World',
 3.14,
 True)

In [24]:
numbers * 3

(1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)

In [26]:
## Immutable nature of tuple
## meaning the elements can not be changed once assigned

lst = [1,2,3,4,5]
print(lst)

lst[1] = "Manzil"
print(lst)

[1, 2, 3, 4, 5]
[1, 'Manzil', 3, 4, 5]

In [27]:
numbers[1]

2

In [28]:
numbers[1] = "manzil"

TypeError: 'tuple' object does not support item assignment

In [30]:
## Tuple Methods

print(numbers.count(1))
print(numbers.index(3))

1
2

In [31]:
## Packing and unpacking tuple

packed_tuple = 1, "Hello", 3.14
print(packed_tuple)

(1, 'Hello', 3.14)

In [32]:
## Unpacking

a,b,c = packed_tuple
print(a)
print(b)
print(c)

1
Hello
3.14

In [33]:
## Unpacking with *

numbers = (1, 2, 3, 4, 5, 6)

In [34]:
numbers

(1, 2, 3, 4, 5, 6)

In [35]:
first,*middle,last = numbers
print(first)
print(middle)
print(last)

1
[2, 3, 4, 5]
6

In [39]:
## nested tuple
## nested list

lst = [[1,2,3,4], [6,7,8,9], [1,"hello", 3.14, "c"]]
lst[0][2]
lst[0][0:3]

[1, 2, 3]

In [40]:
nested_tuple = ((1,2,3), ("a", "b", "c"), (True, False))

## Access the elements inside a tuple

print(nested_tuple[0])
print(nested_tuple[1][2])

(1, 2, 3)
c

In [42]:
## iterating over nested tuples

for sub_tuple in nested_tuple:
    for item in sub_tuple:
        print(item,end=" ")
    print()

1 2 3
a b c
True False

In [6]:
## Assignment 1: Creating and Accessing Tuples
## Create a tuple with the first 10 positive integers. Print the tuple.

tpl = tuple(range(1, 11))
print(tpl)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [7]:
### Assignment 2: Accessing Tuple Elements

### Print the first, middle, and last elements of the tuple created in Assignment 1.

print(tpl[0])
print(tpl[len(tpl) // 2])
print(tpl[-1])

1
6
10

In [13]:
### Assignment 3: Tuple Slicing

## Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

print(tpl[:3])
print(tpl[-3:])
print(tpl[2:6])

(1, 2, 3)
(8, 9, 10)
(3, 4, 5, 6)

In [14]:
### Assignment 4: Nested Tuples

## Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

tpl_matrix = (
    (1, 2, 3),
    (4, 5, 6),
    (7, 8, 9)
)
print(tpl_matrix)
for row in tpl_matrix:
    print(row)
print(f"The Element at Second Row and Third Column is :- {tpl_matrix[1][2]}")

((1, 2, 3), (4, 5, 6), (7, 8, 9))
(1, 2, 3)
(4, 5, 6)
(7, 8, 9)
The Element at Second Row and Third Column is :- 6

In [16]:
### Assignment 5: Tuple Concatenation

### Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.
tpl1 = (1, 2, 3)
tpl2 = (4, 5, 6)
concat_tpl = tpl1 + tpl2
print(concat_tpl)

(1, 2, 3, 4, 5, 6)

In [18]:
### Assignment 6: Tuple Methods

### Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

dup_tpl = (1, 2, 3, 9, 3, 4, 9, 2, 1, 3, 2, 2)
print(dup_tpl.count(2))
print(dup_tpl.index(3))

4
2

In [19]:
### Assignment 7: Unpacking Tuples

### Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

tpl = (1, 2, 3, 4, 5)
a, b, c, d, e = tpl
print(a, b, c, d, e)

1 2 3 4 5

In [20]:
### Assignment 8: Tuple Conversion

### Convert a list of the first 5 positive integers to a tuple. Print the tuple.

lst1 = [5, 4, 3, 2, 1]
lst_tpl = tuple(lst1)
print(lst_tpl)

(5, 4, 3, 2, 1)

In [21]:
### Assignment 9: Tuple of Tuples

### Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

tpl_of_tpls = (
    (1, 2, 3),
    (4, 5, 6),
    (7, 8, 9)
)
print(tpl_of_tpls)

((1, 2, 3), (4, 5, 6), (7, 8, 9))

In [22]:
### Assignment 10: Tuple and List

### Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

tpl = (1, 2, 3, 4, 5)
lst = list(tpl)
lst.append(6)
tpl = tuple(lst)
print(tpl)

(1, 2, 3, 4, 5, 6)

In [27]:
### Assignment 11: Tuple and String

### Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

str = "hello"
print(str)
tpl = tuple(str)
print(tpl)
joined_string = ''.join(tpl)
print(joined_string)

hello
('h', 'e', 'l', 'l', 'o')
hello

In [33]:
### Assignment 12: Tuple and Dictionary

### Create a dictionary with tuple keys and integer values. Print the dictionary.

tpl_dict = {
    (1, 2): 3,
    (4, 5): 6,
    (7, 8): 9
}
print(tpl_dict)
for key, value in tpl_dict.items():
    print(f"{key}: {value}")

{(1, 2): 3, (4, 5): 6, (7, 8): 9}
(1, 2): 3
(4, 5): 6
(7, 8): 9

In [35]:
### Assignment 13: Nested Tuple Iteration

### Create a nested tuple and iterate over the elements, printing each element.

nest_tuple = ((1, 2, 3), (4, 5, 6), (7, 8, 9))
for row in nest_tuple:
    for col in row:
        print(col, end=" ")
    print()

1 2 3
4 5 6
7 8 9

In [36]:
### Assignment 14: Tuple and Set

### Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

tpl = (1, 2, 2, 3, 4, 4, 4, 5)
unique_set = set(tpl)
print(unique_set)

{1, 2, 3, 4, 5}

In [38]:
### Assignment 15: Tuple Functions

### Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

def min_in_tuple(tpl):
    return min(tpl)

def max_in_tuple(tpl):
    return max(tpl)

def sum_of_tuple(tpl):
    return sum(tpl)

sample_tpl = (1, 2, 3, 4, 5)
print(f"Minimum in the Tuple: {min_in_tuple(sample_tpl)}")
print(f"Maximum in the Tuple: {max_in_tuple(sample_tpl)}")
print(f"Sum of the Tuple: {sum_of_tuple(sample_tpl)}")

Minimum in the Tuple: 1
Maximum in the Tuple: 5
Sum of the Tuple: 15