# Module: Pandas Assignments
## Lesson: Pandas
### Assignment 1: DataFrame Creation and Indexing

1. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Set the index to be the first column.

In [1]:
import pandas as pd
import numpy as np

# Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers
df = pd.DataFrame(np.random.randint(1, 100, size=(6, 4)), columns=['A', 'B', 'C', 'D'])
print("Original DataFrame:")
print(df)

# Set the index to be the first column
df.set_index('A', inplace=True)
print("DataFrame with new index:")
print(df)

Original DataFrame:
    A   B   C   D
0  15   3  41  82
1  14  38  94  45
2  57  21  81  81
3  48  64  61  65
4  23  23  76  52
5  58  66  62  71
DataFrame with new index:
     B   C   D
A
15   3  41  82
14  38  94  45
57  21  81  81
48  64  61  65
23  23  76  52
58  66  62  71

2. Create a Pandas DataFrame with columns 'A', 'B', 'C' and index 'X', 'Y', 'Z'. Fill the DataFrame with random integers and access the element at row 'Y' and column 'B'.

In [2]:
# Create a Pandas DataFrame with specified columns and index
df = pd.DataFrame(np.random.randint(1, 100, size=(3, 3)), columns=['A', 'B', 'C'], index=['X', 'Y', 'Z'])
print("Original DataFrame:")
print(df)

# Access the element at row 'Y' and column 'B'
element = df.at['Y', 'B']
print("Element at row 'Y' and column 'B':", element)

Original DataFrame:
    A   B   C
X  68  50  94
Y  98  32  16
Z  70  83  15
Element at row 'Y' and column 'B': 32

### Assignment 2: DataFrame Operations

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Add a new column that is the product of the first two columns.

In [3]:
# Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers
df = pd.DataFrame(np.random.randint(1, 100, size=(5, 3)), columns=['A', 'B', 'C'])
print("Original DataFrame:")
print(df)

# Add a new column that is the product of the first two columns
df['D'] = df['A'] * df['B']
print("DataFrame with new column:")
print(df)

Original DataFrame:
    A   B   C
0  24  93  40
1  51  50  97
2  58  83  52
3  80  88  70
4  39  81  32
DataFrame with new column:
    A   B   C     D
0  24  93  40  2232
1  51  50  97  2550
2  58  83  52  4814
3  80  88  70  7040
4  39  81  32  3159

2. Create a Pandas DataFrame with 3 columns and 4 rows filled with random integers. Compute the row-wise and column-wise sum.

In [4]:
# Create a Pandas DataFrame with 3 columns and 4 rows filled with random integers
df = pd.DataFrame(np.random.randint(1, 100, size=(4, 3)), columns=['A', 'B', 'C'])
print("Original DataFrame:")
print(df)

# Compute the row-wise and column-wise sum
row_sum = df.sum(axis=1)
column_sum = df.sum(axis=0)

print("Row-wise sum:")
print(row_sum)
print("Column-wise sum:")
print(column_sum)

Original DataFrame:
    A   B   C
0  43  58  94
1  93  15  34
2  85   1  21
3  26  98  53
Row-wise sum:
0    195
1    142
2    107
3    177
dtype: int64
Column-wise sum:
A    247
B    172
C    202
dtype: int64

### Assignment 3: Data Cleaning

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Introduce some NaN values. Fill the NaN values with the mean of the respective columns.

In [5]:
# Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers
df = pd.DataFrame(np.random.randint(1, 100, size=(5, 3)), columns=['A', 'B', 'C'])
print("Original DataFrame:")
print(df)

# Introduce some NaN values
df.iloc[0, 1] = np.nan
df.iloc[2, 2] = np.nan
df.iloc[4, 0] = np.nan
print("DataFrame with NaN values:")
print(df)

# Fill the NaN values with the mean of the respective columns
df.fillna(df.mean(), inplace=True)
print("DataFrame with NaN values filled:")
print(df)

Original DataFrame:
    A   B   C
0  48  75  92
1   7  23  37
2  30  26  92
3  53   5  88
4  47  74  13
DataFrame with NaN values:
      A     B     C
0  48.0   NaN  92.0
1   7.0  23.0  37.0
2  30.0  26.0   NaN
3  53.0   5.0  88.0
4   NaN  74.0  13.0
DataFrame with NaN values filled:
      A     B     C
0  48.0  32.0  92.0
1   7.0  23.0  37.0
2  30.0  26.0  57.5
3  53.0   5.0  88.0
4  34.5  74.0  13.0

2. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Introduce some NaN values. Drop the rows with any NaN values.

In [6]:
# Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers
df = pd.DataFrame(np.random.randint(1, 100, size=(6, 4)), columns=['A', 'B', 'C', 'D'])
print("Original DataFrame:")
print(df)

# Introduce some NaN values
df.iloc[1, 2] = np.nan
df.iloc[3, 0] = np.nan
df.iloc[5, 1] = np.nan
print("DataFrame with NaN values:")
print(df)

# Drop the rows with any NaN values
df.dropna(inplace=True)
print("DataFrame with NaN values dropped:")
print(df)

Original DataFrame:
    A   B   C   D
0  18  54  82  25
1  39  84  49  21
2  94  99  95  78
3  84  17  64  58
4  12  48  99  73
5  46  48  79  80
DataFrame with NaN values:
      A     B     C   D
0  18.0  54.0  82.0  25
1  39.0  84.0   NaN  21
2  94.0  99.0  95.0  78
3   NaN  17.0  64.0  58
4  12.0  48.0  99.0  73
5  46.0   NaN  79.0  80
DataFrame with NaN values dropped:
      A     B     C   D
0  18.0  54.0  82.0  25
2  94.0  99.0  95.0  78
4  12.0  48.0  99.0  73

### Assignment 4: Data Aggregation

1. Create a Pandas DataFrame with 2 columns: 'Category' and 'Value'. Fill the 'Category' column with random categories ('A', 'B', 'C') and the 'Value' column with random integers. Group the DataFrame by 'Category' and compute the sum and mean of 'Value' for each category.

In [7]:
# Create a Pandas DataFrame with 2 columns: 'Category' and 'Value'
df = pd.DataFrame({'Category': np.random.choice(['A', 'B', 'C'], size=10), 'Value': np.random.randint(1, 100, size=10)})
print("Original DataFrame:")
print(df)

# Group the DataFrame by 'Category' and compute the sum and mean of 'Value' for each category
grouped = df.groupby('Category')['Value'].agg(['sum', 'mean'])
print("Grouped DataFrame:")
print(grouped)

Original DataFrame:
  Category  Value
0        B      7
1        B     88
2        C     46
3        C     31
4        B     20
5        A     13
6        B     91
7        B     14
8        A     73
9        C     67
Grouped DataFrame:
          sum  mean
Category
A          86  43.0
B         220  44.0
C         144  48.0

2. Create a Pandas DataFrame with 3 columns: 'Product', 'Category', and 'Sales'. Fill the DataFrame with random data. Group the DataFrame by 'Category' and compute the total sales for each category.

In [8]:
# Create a Pandas DataFrame with 3 columns: 'Product', 'Category', and 'Sales'
df = pd.DataFrame({'Product': np.random.choice(['Prod1', 'Prod2', 'Prod3'], size=10), 'Category': np.random.choice(['A', 'B', 'C'], size=10), 'Sales': np.random.randint(1, 100, size=10)})
print("Original DataFrame:")
print(df)

# Group the DataFrame by 'Category' and compute the total sales for each category
grouped = df.groupby('Category')['Sales'].sum()
print("Grouped DataFrame:")
print(grouped)

Original DataFrame:
  Product Category  Sales
0   Prod2        A     98
1   Prod2        B     24
2   Prod2        C     65
3   Prod2        B     70
4   Prod2        A     70
5   Prod1        B     81
6   Prod3        A     36
7   Prod1        C     21
8   Prod3        B     29
9   Prod2        C     24
Grouped DataFrame:
Category
A    204
B    204
C    110
Name: Sales, dtype: int32

### Assignment 5: Merging DataFrames

1. Create two Pandas DataFrames with a common column. Merge the DataFrames using the common column.

In [9]:
# Create two Pandas DataFrames with a common column
df1 = pd.DataFrame({'Key': ['A', 'B', 'C', 'D'], 'Value1': np.random.randint(1, 100, size=4)})
df2 = pd.DataFrame({'Key': ['A', 'B', 'C', 'E'], 'Value2': np.random.randint(1, 100, size=4)})
print("DataFrame 1:")
print(df1)
print("DataFrame 2:")
print(df2)

# Merge the DataFrames using the common column
merged = pd.merge(df1, df2, on='Key')
print("Merged DataFrame:")
print(merged)

DataFrame 1:
  Key  Value1
0   A      16
1   B      56
2   C      18
3   D      76
DataFrame 2:
  Key  Value2
0   A      20
1   B      37
2   C      59
3   E      21
Merged DataFrame:
  Key  Value1  Value2
0   A      16      20
1   B      56      37
2   C      18      59

2. Create two Pandas DataFrames with different columns. Concatenate the DataFrames along the rows and along the columns.

In [10]:
# Create two Pandas DataFrames with different columns
df1 = pd.DataFrame({'A': np.random.randint(1, 100, size=3), 'B': np.random.randint(1, 100, size=3)})
df2 = pd.DataFrame({'C': np.random.randint(1, 100, size=3), 'D': np.random.randint(1, 100, size=3)})
print("DataFrame 1:")
print(df1)
print("DataFrame 2:")
print(df2)

# Concatenate the DataFrames along the rows
concat_rows = pd.concat([df1, df2], axis=0)
print("Concatenated DataFrame (rows):")
print(concat_rows)

# Concatenate the DataFrames along the columns
concat_columns = pd.concat([df1, df2], axis=1)
print("Concatenated DataFrame (columns):")
print(concat_columns)

DataFrame 1:
    A   B
0  94   3
1  19  80
2  96  72
DataFrame 2:
    C   D
0  57  10
1  71  31
2  71  26
Concatenated DataFrame (rows):
      A     B     C     D
0  94.0   3.0   NaN   NaN
1  19.0  80.0   NaN   NaN
2  96.0  72.0   NaN   NaN
0   NaN   NaN  57.0  10.0
1   NaN   NaN  71.0  31.0
2   NaN   NaN  71.0  26.0
Concatenated DataFrame (columns):
    A   B   C   D
0  94   3  57  10
1  19  80  71  31
2  96  72  71  26

### Assignment 6: Time Series Analysis

1. Create a Pandas DataFrame with a datetime index and one column filled with random integers. Resample the DataFrame to compute the monthly mean of the values.

In [12]:
# Create a Pandas DataFrame with a datetime index and one column filled with random integers
date_rng = pd.date_range(start='2022-01-01', end='2022-12-31', freq='D')
df = pd.DataFrame(date_rng, columns=['date'])
df['data'] = np.random.randint(0, 100, size=(len(date_rng)))
df.set_index('date', inplace=True)
print("Original DataFrame:")
print(df)

# Resample the DataFrame to compute the monthly mean of the values
monthly_mean = df.resample('M').mean()
print("Monthly mean DataFrame:")
print(monthly_mean)

Original DataFrame:
            data
date
2022-01-01    80
2022-01-02    36
2022-01-03    33
2022-01-04    34
2022-01-05    83
...          ...
2022-12-27    47
2022-12-28    20
2022-12-29    27
2022-12-30    71
2022-12-31    18

[365 rows x 1 columns]
Monthly mean DataFrame:
                 data
date
2022-01-31  50.129032
2022-02-28  55.607143
2022-03-31  54.903226
2022-04-30  54.433333
2022-05-31  53.032258
2022-06-30  44.700000
2022-07-31  50.903226
2022-08-31  63.967742
2022-09-30  41.533333
2022-10-31  57.580645
2022-11-30  43.966667
2022-12-31  54.161290

C:\Users\MRUTYUNJAY\AppData\Local\Temp\ipykernel_15496\994453891.py:10: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  monthly_mean = df.resample('M').mean()

2. Create a Pandas DataFrame with a datetime index ranging from '2021-01-01' to '2021-12-31' and one column filled with random integers. Compute the rolling mean with a window of 7 days.

In [13]:
# Create a Pandas DataFrame with a datetime index ranging from '2021-01-01' to '2021-12-31'
date_rng = pd.date_range(start='2021-01-01', end='2021-12-31', freq='D')
df = pd.DataFrame(date_rng, columns=['date'])
df['data'] = np.random.randint(0, 100, size=(len(date_rng)))
df.set_index('date', inplace=True)
print("Original DataFrame:")
print(df)

# Compute the rolling mean with a window of 7 days
rolling_mean = df.rolling(window=7).mean()
print("Rolling mean DataFrame:")
print(rolling_mean)

Original DataFrame:
            data
date
2021-01-01    94
2021-01-02    34
2021-01-03    10
2021-01-04    87
2021-01-05    70
...          ...
2021-12-27     3
2021-12-28    14
2021-12-29    27
2021-12-30    98
2021-12-31    92

[365 rows x 1 columns]
Rolling mean DataFrame:
                 data
date
2021-01-01        NaN
2021-01-02        NaN
2021-01-03        NaN
2021-01-04        NaN
2021-01-05        NaN
...               ...
2021-12-27  59.857143
2021-12-28  52.285714
2021-12-29  50.428571
2021-12-30  52.000000
2021-12-31  55.571429

[365 rows x 1 columns]

### Assignment 7: MultiIndex DataFrame

1. Create a Pandas DataFrame with a MultiIndex (hierarchical index). Perform some basic indexing and slicing operations on the MultiIndex DataFrame.

In [14]:
# Create a Pandas DataFrame with a MultiIndex (hierarchical index)
arrays = [['A', 'A', 'B', 'B'], ['one', 'two', 'one', 'two']]
index = pd.MultiIndex.from_arrays(arrays, names=('Category', 'SubCategory'))
df = pd.DataFrame(np.random.randint(1, 100, size=(4, 3)), index=index, columns=['Value1', 'Value2', 'Value3'])
print("MultiIndex DataFrame:")
print(df)

# Basic indexing and slicing operations
print("Indexing at Category 'A':")
print(df.loc['A'])

print("Slicing at Category 'B' and SubCategory 'two':")
print(df.loc[('B', 'two')])

MultiIndex DataFrame:
                      Value1  Value2  Value3
Category SubCategory
A        one              59       7      83
         two              32      30      32
B        one               7       7       4
         two               4      40       5
Indexing at Category 'A':
             Value1  Value2  Value3
SubCategory
one              59       7      83
two              32      30      32
Slicing at Category 'B' and SubCategory 'two':
Value1     4
Value2    40
Value3     5
Name: (B, two), dtype: int32

2. Create a Pandas DataFrame with MultiIndex consisting of 'Category' and 'SubCategory'. Fill the DataFrame with random data and compute the sum of values for each 'Category' and 'SubCategory'.

In [ ]:
# Create a Pandas DataFrame with MultiIndex consisting of 'Category' and 'SubCategory'
arrays = [['A', 'A', 'B', 'B', 'C', 'C'], ['one', 'two', 'one', 'two', 'one', 'two']]
index = pd.MultiIndex.from_arrays(arrays, names=('Category', 'SubCategory'))
df = pd.DataFrame(np.random.randint(1, 100, size=(6, 3)), index=index, columns=['Value1', 'Value2', 'Value3'])
print("MultiIndex DataFrame:")
print(df)

# Compute the sum of values for each 'Category' and 'SubCategory'
sum_values = df.groupby(['Category', 'SubCategory']).sum()
print("Sum of values:")
print(sum_values)

### Assignment 8: Pivot Tables

1. Create a Pandas DataFrame with columns 'Date', 'Category', and 'Value'. Create a pivot table to compute the sum of 'Value' for each 'Category' by 'Date'.

In [15]:
# Create a Pandas DataFrame with columns 'Date', 'Category', and 'Value'
date_rng = pd.date_range(start='2022-01-01', end='2022-01-10', freq='D')
df = pd.DataFrame({'Date': np.random.choice(date_rng, size=20), 'Category': np.random.choice(['A', 'B', 'C'], size=20), 'Value': np.random.randint(1, 100, size=20)})
print("Original DataFrame:")
print(df)

# Create a pivot table to compute the sum of 'Value' for each 'Category' by 'Date'
pivot_table = df.pivot_table(values='Value', index='Date', columns='Category', aggfunc='sum')
print("Pivot Table:")
print(pivot_table)

Original DataFrame:
         Date Category  Value
0  2022-01-02        A     35
1  2022-01-02        A     24
2  2022-01-06        A     12
3  2022-01-08        B     19
4  2022-01-01        C     34
5  2022-01-07        B     47
6  2022-01-10        B     15
7  2022-01-07        A     53
8  2022-01-06        A     22
9  2022-01-10        A     88
10 2022-01-04        B     36
11 2022-01-08        A      2
12 2022-01-01        A     25
13 2022-01-06        A      5
14 2022-01-06        B     31
15 2022-01-07        C      3
16 2022-01-06        A     44
17 2022-01-08        B     47
18 2022-01-03        A     91
19 2022-01-10        B     46
Pivot Table:
Category       A     B     C
Date
2022-01-01  25.0   NaN  34.0
2022-01-02  59.0   NaN   NaN
2022-01-03  91.0   NaN   NaN
2022-01-04   NaN  36.0   NaN
2022-01-06  83.0  31.0   NaN
2022-01-07  53.0  47.0   3.0
2022-01-08   2.0  66.0   NaN
2022-01-10  88.0  61.0   NaN

2. Create a Pandas DataFrame with columns 'Year', 'Quarter', and 'Revenue'. Create a pivot table to compute the mean 'Revenue' for each 'Quarter' by 'Year'.

In [16]:
# Create a Pandas DataFrame with columns 'Year', 'Quarter', and 'Revenue'
df = pd.DataFrame({'Year': np.random.choice([2020, 2021, 2022], size=12), 'Quarter': np.random.choice(['Q1', 'Q2', 'Q3', 'Q4'], size=12), 'Revenue': np.random.randint(1, 1000, size=12)})
print("Original DataFrame:")
print(df)

# Create a pivot table to compute the mean 'Revenue' for each 'Quarter' by 'Year'
pivot_table = df.pivot_table(values='Revenue', index='Year', columns='Quarter', aggfunc='mean')
print("Pivot Table:")
print(pivot_table)

Original DataFrame:
    Year Quarter  Revenue
0   2021      Q4       80
1   2020      Q1      414
2   2020      Q1      834
3   2022      Q4      223
4   2022      Q1      881
5   2022      Q1      667
6   2022      Q4      690
7   2022      Q2      157
8   2020      Q2      174
9   2020      Q3      662
10  2021      Q4      876
11  2021      Q2      391
Pivot Table:
Quarter     Q1     Q2     Q3     Q4
Year
2020     624.0  174.0  662.0    NaN
2021       NaN  391.0    NaN  478.0
2022     774.0  157.0    NaN  456.5

### Assignment 9: Applying Functions

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Apply a function that doubles the values of the DataFrame.

In [19]:
# Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers
df = pd.DataFrame(np.random.randint(1, 100, size=(5, 3)), columns=['A', 'B', 'C'])
print("Original DataFrame:")
print(df)

# Apply a function that doubles the values of the DataFrame
df_doubled = df.map(lambda x: x * 2)
print("Doubled DataFrame:")
print(df_doubled)

Original DataFrame:
    A   B   C
0  85  92  62
1  19  99  19
2   2   3  56
3  38  74  83
4  74  42  84
Doubled DataFrame:
     A    B    C
0  170  184  124
1   38  198   38
2    4    6  112
3   76  148  166
4  148   84  168

2. Create a Pandas DataFrame with 3 columns and 6 rows filled with random integers. Apply a lambda function to create a new column that is the sum of the existing columns.

In [21]:
# Create a Pandas DataFrame with 3 columns and 6 rows filled with random integers
df = pd.DataFrame(np.random.randint(1, 100, size=(6, 3)), columns=['A', 'B', 'C'])
print("Original DataFrame:")
print(df)

# Apply a lambda function to create a new column that is the sum of the existing columns
df['Sum'] = df.apply(lambda row: row.sum(), axis=1)
print("DataFrame with Sum column:")
print(df)

Original DataFrame:
    A   B   C
0  75   6   7
1  90  67  38
2  94  81  98
3  22  17  56
4   6  33  84
5  11  48   6
DataFrame with Sum column:
    A   B   C  Sum
0  75   6   7   88
1  90  67  38  195
2  94  81  98  273
3  22  17  56   95
4   6  33  84  123
5  11  48   6   65

### Assignment 10: Working with Text Data

1. Create a Pandas Series with 5 random text strings. Convert all the strings to uppercase.

In [22]:
# Create a Pandas Series with 5 random text strings
text_data = pd.Series(['apple', 'banana', 'cherry', 'date', 'elderberry'])
print("Original Series:")
print(text_data)

# Convert all the strings to uppercase
uppercase_data = text_data.str.upper()
print("Uppercase Series:")
print(uppercase_data)

Original Series:
0         apple
1        banana
2        cherry
3          date
4    elderberry
dtype: object
Uppercase Series:
0         APPLE
1        BANANA
2        CHERRY
3          DATE
4    ELDERBERRY
dtype: object

2. Create a Pandas Series with 5 random text strings. Extract the first three characters of each string.

In [23]:
# Create a Pandas Series with 5 random text strings
text_data = pd.Series(['apple', 'banana', 'cherry', 'date', 'elderberry'])
print("Original Series:")
print(text_data)

# Extract the first three characters of each string
first_three_chars = text_data.str[:3]
print("First three characters:")
print(first_three_chars)

Original Series:
0         apple
1        banana
2        cherry
3          date
4    elderberry
dtype: object
First three characters:
0    app
1    ban
2    che
3    dat
4    eld
dtype: object